extends ../layout/layout.pug

block content
  .container
    .github-profile
      img(src="/public/img/twitter_32px.png" alt="twitter logo")
      p
        span ID:
        span#profile-id.profile-value
      p
        span Username:
        span#profile-username.profile-value
      p
        span Display Name:
        span#display-name.profile-value

  script(type="text/javascript" src="/common/ajax-functions.js")
  script(type="text/javascript" src="controllers/userController.client.js")