nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbar-collapse-1")
    span.navbar-toggler-icon
  a.navbar-brand(href="/") FCC Stock Ticker App
  .collapse.navbar-collapse#navbar-collapse-1
    form.form-inline.my-2.my-lg-0(action=href='/create' method='post')
      input.col-md-4.form-control.mr-sm-0(type="text" name='ticker' placeholder="AAPL")
      button.col.md-2.btn.btn-outline-primary.my-2.my-lg-0(type="submit") Add Ticker
    ul.navbar-nav.ml-auto
      li.nav-item(style={margin: '7px 30px 0px 0px'})
        a.nav-link.twitter-share-button(href="https://twitter.com/share" data-show-count="false" data-size="large") Tweet

script(async src="//platform.twitter.com/widgets.js" charset="utf-8")